.vscode/**
.vscode-test.mjs
src/**
out/**
.vscode-test/**
**/*.ts
**/*.map
**/*.test.ts
esbuild.mjs
tsconfig.json
tsconfig.webview.json
tsconfig.test.json
.gitignore
.vscodeignore
.mocharc*
node_modules/**
pnpm-lock.yaml
*.vsix
